<form>
    <div class="flexcol dod-controls">
        {{!-- Armor bonuses --}}
        <table class="sheet-table armor-bonuses">
            <tr class="sheet-table-header">
                <th></th>
                <th class="text-header">{{localize "DoD.armor.bonuses"}}</th>
            </tr>
            {{#each bonuses as |bonus|}}
            <tr class="sheet-table-data">
                <td></td>
                <td>
                    <label title="{{localize bonus.tooltip}}" style="text-transform:capitalize;">
                        <input type="checkbox"  id="{{bonus.id}}" name="{{bonus.name}}" {{checked bonus.value}}>
                        {{localize bonus.name}}
                    </label>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</form>
