<form class = "DoD.dialog">
    <div class="flexcol">
        {{!-- Weapon Features --}}
        <table class="sheet-table armor-bonuses">
            <tr class="sheet-table-header">
                <th></th>
                <th class="text-header">{{localize "DoD.armor.bonuses"}}</th>
            </tr>
            {{#each bonuses as |bonus|}}
            <tr class="sheet-table-data">
                <td><input type="checkbox" id="{{bonus.id}}" name="{{bonus.name}}" {{checked bonus.value}}/></td>
                <td class="text-data" title="{{localize bonus.tooltip}}" style="text-transform:capitalize;">{{localize bonus.name}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</form>
