<div class="tab spells flexrow" data-group="primary" data-tab="spells">
    <div class="flexcolumn">
        {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
    </div>
    <div class="flexcolumn">
        <table class="sheet-table spells">
            <tr class="sheet-table-header">
                <th>&nbsp</th>
                <th>
                    {{localize "DoD.ui.character-sheet.spell"}}
                </th>
                <th class="center">
                    {{localize "DoD.ui.character-sheet.memorized"}}
                </th>
                <th>
                    {{localize "DoD.ui.character-sheet.school"}}
                </th>
                <th>&nbsp</th>
            </tr>
            {{#each spells as |spell spellId|}}
            <tr class="sheet-table-data" data-item-id="{{spell.id}}">
                <td>
                    <a>{{spell.system.skillValue}}</a>
                </td>
                <td>
                    <a class="rollable-skill">{{spell.name}}</a>
                </td>
                <td class="narrow">
                    <input class="inline-edit" data-field="system.memorized"  type="checkbox" {{checked spell.system.memorized}} />
                </td>
                <td>
                    <a>{{localize spell.system.school}}</a>
                </td>
                <td>
                    <a class="item-delete" data-type="spell">
                        <i class="fas fa-trash"></i>
                    </a>    
                    <a class="item-edit" data-type="spell">
                        <i class="fas fa-edit"></i>
                    </a>            
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
