<div class="tab background flexcol" data-group="primary" data-tab="background">

    <div class="background-tab flexcol">
        <div>
            <table class="derived-stat">
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.kin"}}</th>
                    <!-- <td>{{ kinName }}</td> -->
                    <td><input class="kin-edit" name="kinName" type="text" value="{{kinName}}" /></td>
                </tr>
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.profession"}}</th>
                    <td><input class="profession-edit" name="professionName" type="text" value="{{professionName}}" /></td>
                </tr>
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.age"}}</th>
                    <td>
                        <select class="age-edit" name="system.age">
                            {{selectOptions config.ageTypes selected=system.age localize=true}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="flexrow">

            <div class="dod-text-container">
                <div class="dod-text-container-label">
                    <label>
                        {{localize "DoD.ui.character-sheet.weakness"}}
                    </label>
                </div>
                {{editor system.weakness target="system.weakness" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
            <div class="dod-text-container">
                <div class="dod-text-container-label">
                    <label>
                        {{localize "DoD.ui.character-sheet.appearance"}}
                    </label>
                </div>
                {{editor system.appearance target="system.appearance" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
        </div>
        <div>
            <div class="dod-text-container">
                <div class="dod-text-container-label">
                    <label>
                        {{localize "DoD.ui.character-sheet.notes"}}
                    </label>
                </div>
                {{editor system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
    <hr>
</div>