<div class="tab" data-group="primary" data-tab="skills">
    <div class="flexrow">
        {{!-- Core Skills --}}
        <div>
            <table class="sheet-table core-skills item-list">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="number-header">
                        {{localize "DoD.ui.character-sheet.skillValue"}}
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.coreSkills"}}
                    </th>
                    <th>
                        {{!-- column for icons --}}
                        &nbsp
                    </th>
                </tr>
                {{#each coreSkills as |skill skillId|}}
                <tr class="sheet-table-data item" data-item-id="{{skill.id}}">
                    <td class="checkbox-data icon-data">
                        {{#if skill.system.advance}}
                        <a class="roll-advancement" data-action="roll-advancement"  title="{{localize "DoD.skill.rollAdvancement"}}">
                            <i class="fas fa-circle-arrow-up"></i>
                        </a>
                        {{else}}
                            <input  title="{{localize "DoD.skill.markAdvancement"}}" class="inline-edit" data-field="system.advance" type="checkbox" {{checked skill.system.advance}} />
                        {{/if}}
                    </td>
                    <td class="number-data narrow">
                        <input class="inline-edit" data-field="system.value" type="text" value="{{skill.system.value}}" data-dtype="Number"/>
                    </td>
                    <td class="skill-name text-data">
                        {{#if skill.system.isProfessionSkill}}
                        <a class="rollable-skill"><b>{{skill.name}}</b> ({{localize skill.system.attributeShort}})</a>
                        {{else}}
                        <a class="rollable-skill">{{skill.name}} ({{localize skill.system.attributeShort}})</a>
                        {{/if}}
                    </td>
                    <td class="icon-data">
                        <a class="item-delete" data-type="skill">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="item-edit" data-type="skill">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>

        <div>
            {{!-- Weapon Skills --}}
            <table class="sheet-table weapon-skills item-list">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="number-header">
                        {{localize "DoD.ui.character-sheet.skillValue"}}
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.weaponSkills"}}
                    </th>
                    <th>
                        {{!-- column for icons --}}
                        &nbsp
                    </th>
                </tr>
                {{#each weaponSkills as |skill skillId|}}
                <tr class="sheet-table-data item" data-item-id="{{skill.id}}">
                    <td class="checkbox-data icon-data">
                        {{#if skill.system.advance}}
                        <a class="roll-advancement" data-action="roll-advancement"  title="{{localize "DoD.skill.rollAdvancement"}}">
                            <i class="fas fa-circle-arrow-up"></i>
                        </a>
                        {{else}}
                            <input  title="{{localize "DoD.skill.markAdvancement"}}" class="inline-edit" data-field="system.advance" type="checkbox" {{checked skill.system.advance}} />
                        {{/if}}
                    </td>
                    <td class="number-data narrow">
                        <input class="inline-edit" data-field="system.value" type="text" value="{{skill.system.value}}" data-dtype="Number"/>
                    </td>
                    <td class="skill-name text-data">
                        {{#if skill.system.isProfessionSkill}}
                        <a class="rollable-skill"><b>{{skill.name}}</b> ({{localize skill.system.attributeShort}})</a>
                        {{else}}
                        <a class="rollable-skill">{{skill.name}} ({{localize skill.system.attributeShort}})</a>
                        {{/if}}
                    </td>
                    <td class="icon-data">
                        <a class="item-delete" data-type="skill">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="item-edit" data-type="skill">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
            {{!-- Secondary Skills --}}
            {{#if secondarySkills }}
            <table class="sheet-table secondary-skills item-list">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="number-header">
                        {{localize "DoD.ui.character-sheet.skillValue"}}
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.secondarySkills"}}
                    </th>
                    <th>
                        {{!-- column for icons --}}
                    </th>
                </tr>
                {{#each secondarySkills as |skill skillId|}}
                <tr class="sheet-table-data item" data-item-id="{{skill.id}}">
                    <td class="checkbox-data icon-data">
                        {{#if skill.system.advance}}
                        <a class="roll-advancement" data-action="roll-advancement"  title="{{localize "DoD.skill.rollAdvancement"}}">
                            <i class="fas fa-circle-arrow-up"></i>
                        </a>
                        {{else}}
                            <input  title="{{localize "DoD.skill.markAdvancement"}}" class="inline-edit" data-field="system.advance" type="checkbox" {{checked skill.system.advance}} />
                        {{/if}}
                    </td>
                    <td class="number-data narrow">
                        <input class="inline-edit" data-field="system.value" type="text" value="{{skill.system.value}}" data-dtype="Number"/>
                    </td>
                    <td class="skill-name text-data">
                        {{#if skill.system.isProfessionSkill}}
                        <a class="rollable-skill"><b>{{skill.name}}</b> ({{localize skill.system.attributeShort}})</a>
                        {{else}}
                        <a class="rollable-skill">{{skill.name}} ({{localize skill.system.attributeShort}})</a>
                        {{/if}}
                    </td>
                    <td class="icon-data">
                        <a class="item-delete" data-type="skill">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a class="item-edit" data-type="skill">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
        </div>
    </div>
</div>
