<div class="tab inventory" data-group="primary" data-tab="inventory">
    <div class="flexrow">
        <div>
            {{!-- Weapons --}}
            <table class="sheet-table item-list" data-droptarget="weapon">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="weapon" title="{{localize "DoD.ui.character-sheet.create-weapon"}}">
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">{{localize "DoD.ui.character-sheet.equipped-weapon"}}</th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if equippedWeapons}}
                {{#each equippedWeapons as |weapon weaponId|}}
                <tr class="sheet-table-data item draggable-item" data-item-id="{{weapon.id}}">
                    <td></td>
                    <td class="thumbnail-data">
                        <img src="{{weapon.img}}" title="{{weapon.name}}"/>
                    </td>
                    <td class="text-data">
                        <a class="item-edit">{{weapon.displayName}}</a>
                    </td>
                    {{#if ../canEquipItems}}
                    <td class="checkbox-data">
                        <input class="inline-edit" data-field="system.worn"  type="checkbox" {{checked weapon.system.worn}} />
                    </td>
                    {{/if}}
                    <td class="icon-data">
                        <a class="item-delete" data-type="weapon">
                            <i class="fas fa-trash"></i>
                        </a>    
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr class="sheet-table-data">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}                  
            </table>

            {{!-- Armor --}}
            <table class="sheet-table item-list" data-droptarget="armor">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="armor" title="{{localize "DoD.ui.character-sheet.create-armor"}}">
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.equipped-armor"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if equippedArmor}}
                <tr class="sheet-table-data item draggable-item" data-item-id="{{equippedArmor.id}}">
                    <td></td>
                    <td class="thumbnail-data">
                        <img src="{{equippedArmor.img}}" title="{{equippedArmor.name}}"/>
                    </td>
                    <td class="text-data">
                        <a class="item-edit">{{equippedArmor.displayName}}</a>
                    </td>
                    {{#if canEquipItems}}
                    <td class="checkbox-data">
                        <input class="inline-edit" data-field="system.worn"  type="checkbox" {{checked equippedArmor.system.worn}} />
                    </td>
                    {{/if}}
                    <td class="icon-data">
                        <a class="item-delete" data-type="armor">
                            <i class="fas fa-trash"></i>
                        </a>    
                    </td>
                </tr>
                {{else}}
                <tr class="sheet-table-data">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}
            </table>

            {{!-- Helmet --}}
            <table class="sheet-table item-list" data-droptarget="helmet">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="helmet" title="{{localize "DoD.ui.character-sheet.create-helmet"}}"</a>
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.equipped-helmet"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if equippedHelmet}}
                <tr class="sheet-table-data item draggable-item" data-item-id="{{equippedHelmet.id}}">
                    <td></td>
                    <td class="thumbnail-data">
                        <img src="{{equippedHelmet.img}}" title="{{equippedHelmet.name}}"/>
                    </td>
                    <td class="text-data">
                        <a class="item-edit">{{equippedHelmet.displayName}}</a>
                    </td>
                    {{#if canEquipItems}}
                    <td class="checkbox-data">
                        <input class="inline-edit" data-field="system.worn"  type="checkbox" {{checked equippedHelmet.system.worn}} />
                    </td>
                    {{/if}}
                    <td class="icon-data">
                        <a class="item-delete" data-type="helmet">
                            <i class="fas fa-trash"></i>
                        </a>    
                    </td>
                </tr>
                {{else}}
                <tr class="sheet-table-data">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}
            </table>

            {{!-- Currency --}}
            <div class="derived-stat-box">
                <table class="derived-stat">
                    <tr>
                        <th>{{localize "DoD.currency.gold"}}</th>
                        <td><input class="currency-input" name="system.currency.gc" type="text" value="{{system.currency.gc}}" data-dtype="Number" /></td>
                    </tr>
                    <tr>
                        <th>{{localize "DoD.currency.silver"}}</th>
                        <td><input class="currency-input" name="system.currency.sc" type="text" value="{{system.currency.sc}}" data-dtype="Number" /></td>
                    </tr>
                    <tr>
                        <th>{{localize "DoD.currency.copper"}}</th>
                        <td><input class="currency-input" name="system.currency.cc" type="text" value="{{system.currency.cc}}" data-dtype="Number" /></td>
                    </tr>
                </table>    
            </div>
        </div>

        <div>
            {{!-- Encumbrance --}}
            <table class="derived-stat">
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.max-encumbrance"}}</th>
                    <td>{{maxEncumbrance}}</td>
                </tr>
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.encumbrance"}}</th>
                    {{#if overEncumbered}}
                    <td class="warning">{{encumbrance}}</td>
                    {{else}}
                    <td>{{encumbrance}}</td>
                    {{/if}}
                </tr>
            </table>

            {{!-- Inventory --}}
            <table class="sheet-table item-list" data-droptarget="inventory">
                <tr class="sheet-table-header">
                    <th>
                    </th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="item" title="{{localize "DoD.ui.character-sheet.create-item"}}">
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.inventory"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th class="number-header">
                        {{localize "DoD.gear.weight"}}
                    </th>
                    <th>
                    </th>
                </tr>
                {{#if inventory}}
                {{#each inventory as |item itemId|}}
                <tr class="sheet-table-data item draggable-item" data-item-id="{{item.id}}">
                    <td></td>
                    <td class="thumbnail-data">
                        <img src="{{item.img}}" title="{{item.name}}"/>
                    </td>
                    <td class="text-data">
                        <a class="item-edit">{{item.displayName}}</a>
                    </td>
                    {{#if ../canEquipItems}}
                    <td class="checkbox-data">
                        <input class="inline-edit" data-field="system.worn"  type="checkbox" {{checked item.system.worn}} />
                    </td>
                    {{/if}}
                    <td class="number-data">
                        <a>{{item.displayWeight}}</a>
                    </td>
                    <td class="icon-data">
                        <a class="item-delete" data-type="spell">
                            <i class="fas fa-trash"></i>
                        </a>    
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr class="sheet-table-data">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}

            </table>

            {{!-- Memento --}}
            <table class="sheet-table item-list" data-droptarget="memento">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header"></th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.memento"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if memento}}
                <tr class="sheet-table-data item draggable-item" data-item-id="{{memento.id}}">
                    <td></td>
                    <td class="thumbnail-data">
                        <img src="{{memento.img}}" title="{{memento.name}}"/>
                    </td>
                    <td class="text-data">
                        <a class="item-edit">{{memento.displayName}}</a>
                    </td>
                    {{#if canEquipItems}}
                    <td class="checkbox-data">
                        <input class="inline-edit" data-field="system.worn"  type="checkbox" {{checked memento.system.worn}} />
                    </td>
                    {{/if}}
                    <td class="icon-data">
                        <a class="item-delete" data-type="helmet">
                            <i class="fas fa-trash"></i>
                        </a>    
                    </td>
                </tr>
                {{else}}
                <tr class="sheet-table-data">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}

            </table>

            {{!-- Tiny Items --}}
            <table class="sheet-table item-list" data-droptarget="tiny">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header"></th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.tiny-items"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if smallItems}}
                {{#each smallItems as |item itemId|}}
                <tr class="sheet-table-data item draggable-item" data-item-id="{{item.id}}">
                    <td></td>
                    <td class="thumbnail-data">
                        <img src="{{item.img}}" title="{{item.name}}"/>
                    </td>
                    <td class="text-data">
                        <a class="item-edit">{{item.displayName}}</a>
                    </td>
                    {{#if ../canEquipItems}}
                    <td class="checkbox-data">
                        <input class="inline-edit" data-field="system.worn"  type="checkbox" {{checked item.system.worn}} />
                    </td>
                    {{/if}}
                    <td class="icon-data">
                        <a class="item-delete" data-type="spell">
                            <i class="fas fa-trash"></i>
                        </a>            
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr class="sheet-table-data">
                    <td></td>
                    <td><a>&nbsp</a></td>
                    <td></td>
                </tr>
                {{/if}}

            </table>
        </div>
    </div>
</div>
