<div class="tab abilities" data-group="primary" data-tab="abilities">
    <div class="abilities-tab">
        {{!-- Will Power --}}
        <div>
            {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
        </div>

        {{!-- Abilities --}}
        <div>
            {{!-- Kin Abilities --}}
            <table class="sheet-table kin-abilities">
                <tr class="sheet-table-header">
                    <th></th>
                    <th>
                        {{localize "DoD.ui.character-sheet.kinAbilities"}}
                    </th>
                    <th>
                        {{!-- column for icons --}}
                        &nbsp
                    </th>
                </tr>
                {{#each kinAbilities as |ability abilityId|}}
                <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                    <td></td>
                    <td>
                        <a>{{ability.name}}</a>
                    </td>
                    <td>
                        <a class="item-edit" data-type="ability">
                            <i class="fas fa-edit"></i>
                        </a>            
                    </td>
                </tr>
                {{/each}}
            </table>
            {{!-- Profession Abilities --}}
            {{#if professionAbilities }}
            <table class="sheet-table profession-abilities">
                <tr class="sheet-table-header">
                    <th></th>
                    <th>
                        {{localize "DoD.ui.character-sheet.professionAbilities"}}
                    </th>
                    <th>
                        {{!-- column for icons --}}
                        &nbsp
                    </th>
                </tr>
                {{#each professionAbilities as |ability abilityId|}}
                <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                    <td></td>
                    <td>
                        <a>{{ability.name}}</a>
                    </td>
                    <td>
                        <a class="item-edit" data-type="ability">
                            <i class="fas fa-edit"></i>
                        </a>            
                    </td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
            {{!-- Heroic Abilities --}}
            <table class="sheet-table heroic-abilities">
                <tr class="sheet-table-header">
                    <th></th>
                    <th>
                        {{localize "DoD.ui.character-sheet.heroicAbilities"}}
                    </th>
                    <th>
                        {{!-- column for icons --}}
                        &nbsp
                    </th>
                </tr>
                {{#each heroicAbilities as |ability abilityId|}}
                <tr class="sheet-table-data" data-item-id="{{ability.id}}">
                    <td></td>
                    <td>
                        <a class="rollable-skill">{{ability.name}}</a>
                    </td>
                    <td>
                        <a class="item-delete" data-type="ability">
                            <i class="fas fa-trash"></i>
                        </a>    
                        <a class="item-edit" data-type="ability">
                            <i class="fas fa-edit"></i>
                        </a>            
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
