<div class="tab main" data-group="primary" data-tab="main">
    <div class="main-tab flexcol">
        {{!-- Kin & Profession --}}
        <div class="flexrow">
            <table class="derived-stat">
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.kin"}}</th>
                    <td>
                        <a class="sheet-table-data item-edit" data-item-id="{{kin.id}}">{{kin.name}}</a>
                    </td>
                </tr>
            </table>
            <table class="derived-stat">
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.profession"}}</th>
                    <td>
                        <a class="sheet-table-data item-edit" data-item-id="{{profession.id}}">{{profession.name}}</a>
                    </td>
                </tr>
            </table>
        </div>


        {{!-- HP, WP, Derived stats & Rest buttons --}}
        <div class="flexrow">
            <div class="flexcol">
                {{> "systems/dragonbane/templates/partials/hp-widget.hbs" }}
            </div>
            <div class="flexcol">
                {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
                <div class="rest-actions">
                    <button class="rest-round" type="button" title="{{localize "DoD.ui.character-sheet.restRoundTooltip"}}">
                        <img src="systems/dragonbane/art/icons/rest-round.webp"/>
                    </button>
                    <button class="rest-stretch" type="button" title="{{localize "DoD.ui.character-sheet.restStretchTooltip"}}"">
                        <img src="systems/dragonbane/art/icons/rest-stretch.webp"/>
                    </button>
                    <button class="rest-shift" type="button" title="{{localize "DoD.ui.character-sheet.restShiftTooltip"}}"">
                        <img src="systems/dragonbane/art/icons/rest-shift.webp"/>
                    </button>
                </div>
            </div>
            <table class="derived-stat">
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.damageBonusSTR"}}</th>
                    <td>{{data.damageBonus.str}}</td>
                </tr>
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.damageBonusAGL"}}</th>
                    <td>{{data.damageBonus.agl}}</td>
                </tr>
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.movement"}}</th>
                    <td>{{data.movement}}</td>
                </tr>
            </table>
        </div>

        {{!-- Trained Skills & Abilities --}}
        <div class="text-box">
            <table>
                <tr>
                    <th><b>{{localize "DoD.ui.character-sheet.trained-skills"}}</b></th>
                    <td class="comma-list item-list">
                        {{#each trainedSkills as |skill skillId|}}
                        <a class="rollable-skill sheet-table-data item" data-item-id="{{skill.id}}">{{skill.name}} {{skill.system.value}}</a>
                        {{/each}}
                    </td>
                </tr>
                {{#if spells}}
                <tr>
                    <th><b>{{localize "DoD.ui.character-sheet.spells"}}</b></th>
                    <td class="comma-list item-list">
                        {{#each memorizedSpells as |spell spellId|}}
                        <a class="rollable-skill sheet-table-data item" data-item-id="{{spell.id}}">
                            {{spell.name}} {{spell.system.skillValue}}
                        </a>
                        {{/each}}
                    </td>
                </tr>
                {{/if}}
                <tr>
                    <th><b>{{localize "DoD.ui.character-sheet.abilities"}}</b></th>
                    <td class="comma-list item-list">
                        {{#each abilities as |ability abilityId|}}
                        <a class="sheet-table-data use-item item" data-item-id="{{ability.id}}">{{ability.name}}</a>
                        {{/each}}
                    </td>
                </tr>
            </table>
        </div>
        
        {{!-- Weapons --}}
        <table class="weapon-table item-list">
            <tr class="sheet-table-header">
                <th>&nbsp</th>
                <th>&nbsp</th>
                <th class="text-header">{{localize "DoD.ui.character-sheet.weapons"}}</th>
                <th class="number-header" title="{{localize "DoD.weapon.skillValueTooltip"}}">{{localize "DoD.weapon.skillValue"}}</th>
                <th class="number-header" title="{{localize "DoD.weapon.gripTooltip"}}">{{localize "DoD.weapon.grip"}}</th>
                <th class="thumbnail-header">
                    <img title="{{localize "DoD.weapon.mainHandTooltip"}}" src="systems/dragonbane/art/icons/fist.svg"/>
                </th>
                <th class="thumbnail-header">
                    <img class="mirror" title="{{localize "DoD.weapon.offHandTooltip"}}" src="systems/dragonbane/art/icons/fist.svg"/>
                </th>
                <th class="number-header" title="{{localize "DoD.weapon.strTooltip"}}">{{localize "DoD.weapon.str"}}</th>
                <th class="number-header" title="{{localize "DoD.weapon.rangeTooltip"}}">{{localize "DoD.weapon.rangeShort"}}</th>
                <th class="number-header" title="{{localize "DoD.weapon.damageTooltip"}}">{{localize "DoD.weapon.damageShort"}}</th>
                <th class="number-header" title="{{localize "DoD.weapon.durabilityTooltip"}}">{{localize "DoD.weapon.durabilityShort"}}</th>
                <th class="thumbnail-header">
                    <img title="{{localize "DoD.weapon.brokenTooltip"}}" src="systems/dragonbane/art/icons/broken-axe.svg"/>
                </th>
                <th></th>
            </tr>
            {{#if equippedWeapons}}
            {{#each equippedWeapons as |weapon weaponId|}}
            <tr class="sheet-table-data item" data-item-id="{{weapon.id}}">
                <td></td>
                <td class="thumbnail-data">
                    <img src="{{weapon.img}}" title="{{weapon.name}}"/>
                </td>
                <td class="text-data"><a class="rollable-skill">{{weapon.name}}</a></td>
                <td class="number-data">{{weapon.system.skill.value}}</td>
                <td class="number-data">{{localize weapon.system.grip.label}}</td>
                <td class="checkbox-data">
                    <input class="inline-edit" data-field="system.mainHand" type="checkbox" {{checked weapon.system.mainHand}} />
                </td>
                <td class="checkbox-data">
                    <input class="inline-edit" data-field="system.offHand" type="checkbox" {{checked weapon.system.offHand}} />
                </td>                
                <td class="number-data">{{weapon.system.str}}</td>
                <td class="number-data">{{weapon.system.displayRange}}</td>
                <td class="number-data"><a class="rollable-damage">{{weapon.system.damage}}</a></td>
                <td class="number-data">{{weapon.system.durability}}</td>
                <td class="checkbox-data">
                    <input class="inline-edit" data-field="system.broken" type="checkbox" {{checked weapon.system.broken}} />
                </td>
                <td></td>
            </tr>
            {{/each}}
            {{else}}
            <tr class="sheet-table-data">
                <td></td>
                <td><a>&nbsp</a></td>
                <td></td>
            </tr>
            {{/if}}                  
        </table>


        {{!-- Armor --}}
        <div class="flexrow">
            <table class="armor">
                <tr>
                    <td class="armor-value" rowspan="3">
                        {{#if equippedArmor}}
                        <a>{{equippedArmor.system.rating}}</a>
                        {{/if}}
                    </td>
                    <td class="armor-label">&nbsp</td>
                </tr>
                <tr>
                    <td class="armor-name">
                        {{#if equippedArmor}}
                        <a class="item-edit  sheet-table-data" data-item-id="{{equippedArmor.id}}">{{equippedArmor.name}}</a>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="armor-banes">
                        {{#if equippedArmor.system.banes}}
                        <b>{{localize "DoD.ui.character-sheet.banes"}}:</b> {{equippedArmor.system.banes}}
                        {{/if}}
                    </td>
                </tr>
            </table>
            <table class="armor">
                <tr>
                    <td class="helmet-value" rowspan="3">
                        {{#if equippedHelmet}}
                        <a>{{equippedHelmet.system.rating}}</a>
                        {{/if}}
                    </td>
                    <td class="armor-label">&nbsp</td>
                </tr>
                <tr>
                    <td class="armor-name">
                        {{#if equippedHelmet}}
                        <a class="item-edit sheet-table-data" data-item-id="{{equippedHelmet.id}}">{{equippedHelmet.name}}</a>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="armor-banes">
                        {{#if equippedHelmet.system.banes}}
                        <b>{{localize "DoD.ui.character-sheet.banes"}}:</b> {{equippedHelmet.system.banes}}
                        {{/if}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
