<div class="tab abilities" data-group="primary" data-tab="abilities">
    <div class="abilities-tab flexcol">
        <div class="flexrow">
            {{!-- Will Power --}}
            <div>
                {{> "systems/dragonbane/templates/partials/wp-widget.hbs" }}
            </div>

            {{!-- Abilities --}}
            <div>
                {{!-- Kin Abilities --}}
                <table class="sheet-table kin-abilities item-list">
                    <tr class="sheet-table-header">
                        <th></th>
                        <th class="text-header" title="{{localize "DoD.ui.character-sheet.kinAbilitiesTooltip"}}">
                            {{localize "DoD.ui.character-sheet.kinAbilities"}}
                        </th>
                        <th>
                            {{!-- column for icons --}}
                            &nbsp
                        </th>
                    </tr>
                    {{#each kinAbilities as |ability abilityId|}}
                    <tr class="sheet-table-data item-edit item" data-item-id="{{ability.id}}">
                        <td></td>
                        <td class="text-data">
                            <a>{{ability.name}}</a>
                        </td>
                        <td class="item-data">
                        </td>
                    </tr>
                    {{/each}}
                </table>
                {{!-- Profession Abilities --}}
                {{#if professionAbilities }}
                <table class="sheet-table profession-abilities item-list">
                    <tr class="sheet-table-header">
                        <th></th>
                        <th class="text-header" title="{{localize "DoD.ui.character-sheet.professionAbilitiesTooltip"}}">
                            {{localize "DoD.ui.character-sheet.professionAbilities"}}
                        </th>
                        <th>
                            {{!-- column for icons --}}
                            &nbsp
                        </th>
                    </tr>
                    {{#each professionAbilities as |ability abilityId|}}
                    <tr class="sheet-table-data item-edit item" data-item-id="{{ability.id}}">
                        <td></td>
                        <td class="text-name">
                            <a>{{ability.name}}</a>
                        </td>
                        <td class="item-data">
                        </td>
                    </tr>
                    {{/each}}
                </table>
                {{/if}}
                {{!-- Heroic Abilities --}}
                <table class="sheet-table heroic-abilities item-list">
                    <tr class="sheet-table-header">
                        <th></th>
                        <th class="text-header" title="{{localize "DoD.ui.character-sheet.heroicAbilitiesTooltip"}}">
                            {{localize "DoD.ui.character-sheet.heroicAbilities"}}
                        </th>
                        <th>
                            {{!-- column for icons --}}
                            &nbsp
                        </th>
                    </tr>
                    {{#each heroicAbilities as |ability abilityId|}}
                    <tr class="sheet-table-data item" data-item-id="{{ability.id}}">
                        <td></td>
                        <td class="text-data">
                            <a class="item-edit">{{ability.name}}</a>
                        </td>
                        <td class="icon-data">
                            <a class="item-delete" data-type="ability">
                                <i class="fas fa-trash"></i>
                            </a>   
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="flexrow">
        {{#if hasTricks }}
        <div>
            {{!-- Spells --}}
            <table class="sheet-table item-list spells">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.trick"}}
                    </th>
                    <th></th>
                    {{#unless hasSpells}}
                    <th></th>
                    {{/unless}}
                </tr>
                {{#each tricks as |spell spellId|}}
                <tr class="sheet-table-data item" data-item-id="{{spell.id}}">
                    <td></td>
                    <td class="text-data">
                        <a class="rollable-skill">{{spell.name}}</a>
                    </td>
                    <td class="icon-data">
                        <a class="item-delete" data-type="spell">
                            <i class="fas fa-trash"></i>
                        </a>    
                        <a class="item-edit" data-type="spell">
                            <i class="fas fa-edit"></i>
                        </a>            
                    </td>
                    {{#unless hasSpells}}
                    <td></td>
                    {{/unless}}
                </tr>
                {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if hasSpells }}
        <div>
            {{!-- Spells --}}
            <table class="sheet-table item-list spells">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="number-header">
                        {{localize "DoD.ui.character-sheet.skillValue"}}
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.spell"}}&nbsp
                    </th>
                    <th class="number-header">
                        {{localize "DoD.spell.rank"}}
                    </th>        
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.spell.memorized"}}">
                            {{localize "DoD.ui.character-sheet.memorized"}}
                        </label>
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.school"}}
                    </th>
                    <th></th>
                    {{#unless hasTricks}}
                    <th></th>
                    {{/unless}}
                </tr>
                {{#each spells as |spell spellId|}}
                <tr class="sheet-table-data item" data-item-id="{{spell.id}}">
                    <td></td>
                    <td class="number-data">
                        {{#if spell.system.rank}}
                        {{spell.system.skillValue}}
                        {{else}}
                        -
                        {{/if}}
                    </td>
                    <td class="text-data">
                        <a class="rollable-skill">{{spell.name}}</a>
                    </td>
                    <td class="number-data">
                        {{spell.system.rank}}
                    </td>
                    <td class="checkbox-data">
                        <input class="inline-edit" data-field="system.memorized"  type="checkbox" {{checked spell.system.memorized}} />
                    </td>
                    <td class="text-data">
                        {{localize spell.system.school}}
                    </td>
                    <td class="icon-data">
                        <a class="item-delete" data-type="spell">
                            <i class="fas fa-trash"></i>
                        </a>    
                        <a class="item-edit" data-type="spell">
                            <i class="fas fa-edit"></i>
                        </a>            
                    </td>
                    {{#unless ../hasTricks}}
                    <td></td>
                    {{/unless}}
                </tr>
                {{/each}}
            </table>
        </div>
        {{/if}}
        </div>
    </div>
</div>
