<div class="tab injuries" data-group="primary" data-tab="injuries">
    <div class="injuries-tab flexcol">
        {{!-- Injuries --}}
        <div>
            <table class="sheet-table injuries item-list">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">{{!-- column for icons --}}&nbsp</th>
                    <th class="text-header" title="{{localize "DoD.ui.character-sheet.injuriesTooltip"}}">
                        {{localize "DoD.ui.character-sheet.injuries"}}
                    </th>
                    <th>{{!-- column for icons --}}&nbsp</th>
                    <th></th>
                </tr>
                {{#each injuries as |injury injuryId|}}
                <tr class="sheet-table-data item" data-item-id="{{injury.id}}">
                    <td></td>
                    <td class="thumbnail-data">
                        <img src="{{injury.img}}" title="{{injury.name}}"/>
                    </td>
                    <td class="text-data">
                        <a class="item-edit" title="{{injury.system.description}}">{{injury.name}}</a>
                    </td>
                    <td class="icon-data">
                        <a class="item-delete" data-type="injury">
                            <i class="fas fa-trash"></i>
                        </a>    
                    </td>
                    <td></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
