<div class="dragonbane-card" data-item-uuid="{{uuid}}"{{#if actorUuid}} data-actor-uuid="{{actorUuid}}"{{/if}}>
    <div class="flexrow" style="justify-content:flex-start;gap:8px;">
        <img src="{{img}}" style="flex:0 0 36px;width:36px;height:36px;object-fit:contain;border:none;" alt="{{name}}"/>
        <h3 style="margin:0;border:none;flex:0 1 auto;">{{name}}</h3>
    </div>
    {{#if properties.length}}
    <ul>
        {{#each properties}}
        <li><b>{{label}}: </b>{{value}}</li>
        {{/each}}
    </ul>
    {{/if}}
    {{{description}}}
    {{#if actions.length}}
    {{#each actions}}
    <button class="chat-button" type="button" data-action="{{action}}">{{label}}</button>
    {{/each}}
    {{/if}}
</div>
