<div class="flex-justify-center">
    {{#if actor.isCharacter}}
    <div class="resource-points hit-points">
    {{else}}
    <div class="resource-points hit-points-npc">
    {{/if}}
        <div class="resource-points-text-label">
            <label>{{localize "DoD.ui.character-sheet.hitPoints"}}</label>
        </div>
        <div class="resource-points-max-box">
            {{#if actor.isCharacter}}
            <label class="resource-points-max-label">{{maxHP}}</label>
            {{else}}
            <input class="resource-points-max-label hit-points-max-label" type="number" value="{{data.hitPoints.max}}" data-dtype="Number" />
            {{/if}}
        </div>
        <div class="resource-points-box hit-points-box">
            {{#times lostHP}}
            <img class="resource-point" src="./systems/dragonbane/art/ui/point-checked.webp"/>
            {{/times}}
            {{#times currentHP}}
            <img class="resource-point" src="./systems/dragonbane/art/ui/point-unchecked.webp"/>
            {{/times}}
            {{#times fillHP}}
            <img class="resource-point invisible" src=""/>
            {{/times}}
        </div>
        {{#if actor.isCharacter}}
        <div class="death-rolls-box">
            <table>
                <tr>
                    <th rowspan="2">{{localize "DoD.ui.character-sheet.deathRolls"}}</th>
                    <th class="death-rolls-success-label">{{localize "DoD.ui.character-sheet.successes"}}</th>
                    <th class="death-rolls-failure-label">{{localize "DoD.ui.character-sheet.failures"}}</th>
                </tr>
                <tr>
                    <td class="death-rolls-success">
                        {{#times deathRollsSuccesses }}
                        <img class="hit-point" src="./systems/dragonbane/art/ui/point-checked.webp"/>
                        {{/times}}
                        {{#times deathRollsSuccessesRemaining }}
                        <img class="hit-point" src="./systems/dragonbane/art/ui/point-unchecked.webp"/>
                        {{/times}}
                    </td>
                    <td class="death-rolls-failure">
                        {{#times deathRollsFailures }}
                        <img class="hit-point" src="./systems/dragonbane/art/ui/point-checked.webp"/>
                        {{/times}}
                        {{#times deathRollsFailuresRemaining }}
                        <img class="hit-point" src="./systems/dragonbane/art/ui/point-unchecked.webp"/>
                        {{/times}}
                    </td>
                </tr>
            </table>
        </div>
        {{/if}}
    </div>
</div>