<form class = "DoD.dialog">
    <div class="flexrow">

        {{!-- Banes --}}
        <table class="sheet-table banes">
            <tr class="sheet-table-header">
                <th></th>
                <th class="text-header">{{localize "DoD.ui.dialog.banes"}}</th>
            </tr>
            {{#each banes as |bane|}}
            <tr class="sheet-table-data">
                <td><input type="checkbox" name="{{bane.source}}" {{checked bane.value}}/></td>
                <td class="text-data">{{bane.source}}</td>
            </tr>
            {{/each}}
            {{#times fillerBanes}}
            <tr class="sheet-table-data">
                <td></td>
                <td class="text-data wide">&nbsp</td>
            </tr>
            {{/times}}

            <tr class="sheet-table-data">
                <td class="number-data">
                    <input name="extraBanes" type="number" value="0"/>
                </td>
                <td class="text-data wide">{{localize "DoD.ui.dialog.extra"}}</td>
            </tr>
        </table>

        {{!-- Boons --}}
        <table class="sheet-table boons">
            <tr class="sheet-table-header">
                <th></th>
                <th class="text-header">{{localize "DoD.ui.dialog.boons"}}</th>
            </tr>
            {{#each boons as |boon|}}
            <tr class="sheet-table-data">
                <td><input type="checkbox" name="test"/></td>
                <td class="text-data">{{boon.source}}</td>
            </tr>
            {{/each}}
            {{#times fillerBoons}}
            <tr class="sheet-table-data">
                <td></td>
                <td class="text-data wide">&nbsp</td>
            </tr>
            {{/times}}
            <tr class="sheet-table-data">
                <td class="number-data">
                    <input name="extraBoons" type="number" value="0"/>
                </td>
                <td class="text-data wide">{{localize "DoD.ui.dialog.extra"}}</td>
            </tr>
        </table>
    </div>
</form>
