{{> "templates/dice/roll.html"}}

<div class="owner-permission" data-actor-id="{{actor.uuid}}">

{{#if success}}

    {{#if weapon}}
        {{#if isMeleeCrit}}
            <hr>
            <div class="form-group">
                <label>{{localize "DoD.critChoices.choiceLabel"}}</label>
                <div class="form-fields">
                    {{radioBoxes meleeCritGroup critChoices checked=critChoice localize=true}}
                </div>
            </div>
            <hr>
        {{/if}} <!-- isMeleeCrit -->

        {{#if isDamaging}}
            <button class="chat-button weapon-roll"
                data-actor-id="{{actor.uuid}}"
                data-weapon-id="{{weapon.id}}"
                data-damage-type="{{damageType}}"
                {{#if ignoreArmor }} data-ignore-armor="{{ignoreArmor}}" {{/if}}
                {{#if isMeleeCrit }} data-is-melee-crit="{{isMeleeCrit}}" {{/if}}
                {{#if targetActor }} data-target-id="{{targetActor.uuid}}" {{/if}}
                {{#if extraDamage }} data-extra-damage="{{extraDamage}}" {{/if}}
                >
                {{localize "DoD.ui.chat.rollDamage"}}
            </button>
        {{/if}} <!-- isDamaging -->
    {{/if}} <!-- weapon -->


    {{#if spell}}
        {{#if isMagicCrit}}
            <hr>
            <div class="form-group">
                <label>{{localize "DoD.magicCritChoices.choiceLabel"}}</label>
                <div class="form-fields">
                    {{radioBoxes magicCritGroup magicCritChoices checked=magicCritChoice localize=true}}
                </div>
            </div>
            <hr>
            {{#unless isDamaging}}
                <button class="chat-button magic-roll"
                    data-actor-id="{{actor.uuid}}"
                    data-is-magic-crit="{{isMagicCrit}}"
                    data-wp-cost="{{wpCost}}"
                    >
                    {{localize "DoD.ui.chat.choose"}}
                </button>
            {{/unless}} <!-- isDamaging -->
        {{/if}} <!-- isMagicCrit -->

        {{#if isDamaging}}
            <button class="chat-button magic-roll"
                data-actor-id="{{actor.uuid}}"
                data-spell-id="{{spell.id}}"
                data-power-level="{{powerLevel}}"
                data-wp-cost="{{wpCost}}"
                {{#if isMagicCrit }} data-is-magic-crit="{{isMagicCrit}}" {{/if}}
                {{#if targetActor }} data-target-id="{{targetActor.uuid}}" {{/if}}
                >
                {{localize "DoD.ui.chat.rollDamage"}}
            </button>
        {{/if}} <!-- isDamaging -->
    {{/if}} <!-- spell -->

{{else}} <!-- success -->

    {{#if canPush}}
    <div>
        <button class="chat-button push-roll"
            data-actor-id="{{actor.uuid}}"
            data-attribute="{{attribute}}"
            data-formula="{{formula}}"
            data-roll-type="{{rollType}}"
            data-skill-name="{{skill.name}}"
            {{#if weapon }} data-weapon-id="{{weapon.uuid}}" {{/if}}
            {{#if action }} data-extra-damage="{{extraDamage}}" {{/if}}
            {{#if spell }} data-spell-name="{{spell.name}}" {{/if}}
            {{#if powerLevel }} data-power-level="{{powerLevel}}" {{/if}}
            {{#if wpCost }} data-wp-cost="{{wpCost}}" {{/if}}
            {{#if extraDamage }} data-extra-damage="{{extraDamage}}" {{/if}}
            >
            {{localize "DoD.roll.pushButtonLabel"}}
        </button>
        <div class="form-group">
            <label>{{localize "DoD.roll.pushChoiceLabel"}}</label>
            <div class="form-fields">
                {{radioBoxes pushRollChoiceGroup pushRollChoices checked=pushRollChoice localize=false}}
            </div>
        </div>
    </div>
    {{/if}}  <!-- canPush -->
    
    {{#if isMeleeMishap}}
    <br>{{meleeMishapTable}}<br><br>
    {{/if}}

    {{#if isRangedMishap}}
    <br>{{rangedMishapTable}}<br><br>
    {{/if}}
    
    {{#if isMagicMishap}}
    <br>{{magicMishapTable}}<br><br>
    {{/if}}

{{/if}}  <!-- success -->

</div>
