{{> "systems/dragonbane/templates/partials/roll.hbs"}}

<div class="skill-roll" data-actor-id="{{actor.uuid}}" data-skill-id="{{skill.id}}" data-target="{{target}}" data-result="{{result}}">
<div class="permission-owner" data-actor-id="{{actor.uuid}}">

{{#if success}}
    {{#if weapon}}
        {{#if (and isDragon (not criticalEffect))}}
            <button class="chat-button critical-roll">
                <img src="systems/dragonbane/art/ui/dsn/dod-ikon-drake-vit-256.png" style="transform: rotate(180deg);" alt="Dragon Icon" />
                {{localize "DoD.ui.chat.criticalHit"}}
            </button>
        {{else}}
            {{#if isDamaging}}
                <button class="chat-button weapon-roll"
                    data-actor-id="{{actor.uuid}}"
                    data-weapon-id="{{weapon.id}}"
                    data-damage-type="{{damageType}}"
                    {{#if ignoreArmor }} data-ignore-armor="{{ignoreArmor}}" {{/if}}
                    {{#if isMeleeCrit }} data-is-melee-crit="{{isMeleeCrit}}" {{/if}}
                    {{#if targetActor }} data-target-id="{{targetActor.uuid}}" {{/if}}
                    {{#if extraDamage }} data-extra-damage="{{extraDamage}}" {{/if}}
                    >
                    <i class="fas fa-dice"></i>{{localize "DoD.ui.chat.rollDamage"}}
                </button>
            {{/if}} <!-- isDamaging -->
        {{/if}}
    {{/if}} <!-- weapon -->

    {{#if spell}}
        {{#if (and isDragon (not criticalEffect))}}
            <button class="chat-button critical-roll">
                <img src="systems/dragonbane/art/ui/dsn/dod-ikon-drake-vit-256.png" style="transform: rotate(180deg);" alt="Dragon Icon" />
                {{localize "DoD.ui.chat.criticalHit"}}
            </button>
        {{else}}
            {{#if isDamaging}}
                <button class="chat-button magic-roll"
                    data-actor-id="{{actor.uuid}}"
                    data-spell-id="{{spell.id}}"
                    data-power-level="{{powerLevel}}"
                    data-wp-cost="{{wpCost}}"
                    {{#if isMagicCrit }} data-is-magic-crit="{{isMagicCrit}}" {{/if}}
                    {{#if targetActor }} data-target-id="{{targetActor.uuid}}" {{/if}}
                    >
                    <i class="fas fa-dice"></i>
                    {{#if isHealing}}                
                    {{localize "DoD.ui.chat.rollHealing"}}
                    {{else}}
                    {{localize "DoD.ui.chat.rollDamage"}}
                    {{/if}}
                </button>
            {{/if}} <!-- isDamaging -->
        {{/if}} <!-- isCritical -->
    {{/if}} <!-- spell -->
{{else}} <!-- success -->

    {{#if canPush}}
    <div>
        <button class="chat-button push-roll"
            data-actor-id="{{actor.uuid}}"
            data-attribute="{{attribute}}"
            data-formula="{{formula}}"
            data-roll-type="{{rollType}}"
            data-skill-name="{{skill.name}}"
            {{#if weapon }} data-weapon-id="{{weapon.uuid}}" {{/if}}
            {{#if action }} data-action="{{action}}" {{/if}}
            {{#if spell }} data-spell-name="{{spell.name}}" {{/if}}
            {{#if powerLevel }} data-power-level="{{powerLevel}}" {{/if}}
            {{#if wpCost }} data-wp-cost="{{wpCost}}" {{/if}}
            {{#if extraDamage }} data-extra-damage="{{extraDamage}}" {{/if}}
            >
            <i class="fas fa-arrow-rotate-right"></i>
            {{localize "DoD.roll.pushButtonLabel"}}
        </button>
    </div>
    {{/if}}  <!-- canPush -->

{{/if}}  <!-- success -->

</div>
</div>
