{{> "templates/dice/roll.html"}}

{{#if success}}
    {{#if isMeleeCrit}}
    <hr>
    <div class="form-group">
        <label>{{localize "DoD.meleeCritChoices.choiceLabel"}}</label>
        <div class="form-fields">
            {{radioBoxes meleeCritGroup meleeCritChoices checked=meleeCritChoice localize=true}}
        </div>
    </div>
    <hr>
    {{/if}}

    {{#if isMagicCrit}}
    <hr>
    <div class="form-group">
        <label>{{localize "DoD.magicCritChoices.choiceLabel"}}</label>
        <div class="form-fields">
            {{radioBoxes magicCritGroup magicCritChoices checked=magicCritChoice localize=true}}
        </div>
    </div>
    <hr>
    <button class="chat-button magic-roll"
        data-actor-id="{{actor.uuid}}"
        data-is-magic-crit="{{isMagicCrit}}"
        data-wp-cost="{{wpCost}}"
        >
        {{localize "DoD.ui.chat.choose"}}
    </button>
    {{/if}}

    {{#if isDamaging}}
    <button class="chat-button weapon-roll"
        data-actor-id="{{actor.uuid}}"
        data-weapon-id="{{weapon.id}}"
        data-damage-type="{{damageType}}"
        {{#if ignoreArmor }} data-ignore-armor="{{ignoreArmor}}" {{/if}}
        {{#if isMeleeCrit }} data-is-melee-crit="{{isMeleeCrit}}" {{/if}}
        {{#if isMagicCrit }} data-is-magic-crit="{{isMagicCrit}}" {{/if}}
        {{#if targetActor }} data-target-id="{{targetActor.uuid}}" {{/if}}
        >
        {{localize "DoD.ui.chat.rollDamage"}}
    </button>
    {{/if}}

{{else}}

    {{#if canPush}}
    <div>
        <button class="chat-button push-roll"
            data-actor-id="{{actor.uuid}}"
            data-attribute="{{attribute}}"
            data-formula="{{formula}}"
            data-roll-type="{{rollType}}"
            data-skill-name="{{skill.name}}"
            data-weapon-id="{{weapon.uuid}}"
            data-action="{{action}}"
            data-spell-name="{{spell.name}}"
            data-power-level="{{powerLevel}}"
            >
            {{localize "DoD.roll.pushButtonLabel"}}
        </button>
        <div class="form-group">
            <label>{{localize "DoD.roll.pushChoiceLabel"}}</label>
            <div class="form-fields">
                {{radioBoxes pushRollChoiceGroup pushRollChoices checked=pushRollChoice localize=false}}
            </div>
        </div>
    </div>
    {{/if}}
    
    {{#if isMeleeMishap}}
    <br>{{localize "DoD.tables.mishapMelee"}}<br><br>
    {{/if}}
    
    {{#if isMagicMishap}}
    <br>{{localize "DoD.tables.mishapMagic"}}<br><br>
    {{/if}}

{{/if}}
