<div class="flex-justify-center">

        {{#if largeWP}}
            <div class="resource-points will-points-large">
        {{else}}
            <div class="resource-points will-points">
        {{/if}}

        <div class="resource-points-text-label">
            <label>{{localize "DoD.ui.character-sheet.willPoints"}}</label>
        </div>
        <div class="resource-points-max-box">
            {{#if actor.isCharacter}}
            <label class="resource-points-max-label will-points-max-label" title="{{localize "DoD.ui.character-sheet.willPointsMax"}}">{{maxWP}}</label>
            {{else}}
            <input class="resource-points-max-label will-points-max-label" title="{{localize "DoD.ui.character-sheet.willPointsMax"}}" type="number" value="{{system.willPoints.base}}" data-dtype="Number" />
            {{/if}}
        </div>
        {{#if largeWP}}
        <div class="resource-points-current-box">
            <input class="resource-points-current-label will-points-current-label" title="{{localize "DoD.ui.character-sheet.willPointsCurrent"}}" type="number" value="{{system.willPoints.value}}" data-dtype="Number" />
        </div>
        {{else}}
            <div class="resource-points-box will-points-box">
                {{#times lostWP}}
                <img class="resource-point" src="./systems/dragonbane/art/ui/point-checked.webp"/>
                {{/times}}
                {{#times currentWP}}
                <img class="resource-point" src="./systems/dragonbane/art/ui/point-unchecked.webp"/>
                {{/times}}
            {{#times fillWP}}
                <img class="resource-point invisible" src=""/>
                {{/times}}
            </div>
        {{/if}}
    </div>    
</div>