<header class="sheet-header img-name">
    <img src="{{source.img}}" data-action="editImage" data-edit="img" alt="{{localize "EFFECT.FIELDS.img.label"}}">
    <h1>
        <input name="name" type="text" value="{{source.name}}" placeholder="{{localize "EFFECT.FIELDS.name.label"}}"
            aria-label="{{localize "EFFECT.FIELDS.name.label"}}"/>
    </h1>
</header>