<nav class="sheet-tabs tabs" data-group="primary">
    <a class="{{tabs.main.cssClass}}" data-action="tab" data-group="{{tabs.main.group}}" data-tab="main"><label>{{localize "DoD.ui.character-sheet.main"}}</label></a>
    <a class="{{tabs.skills.cssClass}}" data-action="tab" data-group="{{tabs.skills.group}}" data-tab="skills"><label>{{localize "DoD.ui.character-sheet.skills"}}</label></a>
    {{#if hasSpellsOrTricks}}
    <a class="{{tabs.abilities.cssClass}}" data-action="tab" data-group="{{tabs.abilities.group}}" data-tab="abilities"><label>{{localize "DoD.ui.character-sheet.abilities"}}</label> {{localize "DoD.ui.character-sheet.and"}} {{localize "DoD.ui.character-sheet.spells"}}</a>
    {{else}}
    <a class="{{tabs.abilities.cssClass}}" data-action="tab" data-group="{{tabs.abilities.group}}" data-tab="abilities"><label>{{localize "DoD.ui.character-sheet.abilities"}}</label></a>
    {{/if}}
    <a class="{{tabs.inventory.cssClass}}" data-action="tab" data-group="{{tabs.inventory.group}}" data-tab="inventory"><label>{{localize "DoD.ui.character-sheet.inventory"}}</label></a>
    <a class="{{tabs.background.cssClass}}" data-action="tab" data-group="{{tabs.background.group}}" data-tab="background"><label>{{localize "DoD.ui.character-sheet.background"}}</label></a>
    <a class="{{tabs.effects.cssClass}}" data-action="tab" data-group="{{tabs.effects.group}}" data-tab="effects"><label>{{localize "DoD.ui.character-sheet.effects"}}</label></a>
</nav>