{{#*inline "itemRow"}}
    <tr class="sheet-table-data item draggable" data-item-id="{{item.id}}">
        <td></td>
        <td class="thumbnail-data">
            <img src="{{item.img}}" title="{{item.name}}"/>
        </td>
        <td class="text-data">
            {{#if rollable}}
            <a class="rollable-skill">{{item.displayName}}</a>
            {{else}}
            <a class="item-edit">{{item.displayName}}</a>
            {{/if}}
        </td>
        {{#if canEquipItems}}
        <td class="checkbox-data">
            <input class="inline-edit" data-field="system.worn" type="checkbox" {{checked item.system.worn}} />
        </td>
        {{/if}}
        {{#if hasWeight}}
        <td class="number-data">
            {{item.displayWeight}}
        </td>
        {{/if}}
        <td>
            {{#if editable}}
            <button type="button" class="icon" data-action="itemControls" data-item-id="{{item.id}}">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            {{/if}}
        </td>
    </tr>
{{/inline}}

<div class="tab {{tabs.inventory.cssClass}}" data-group="primary" data-tab="{{tabs.inventory.id}}">
    <div class="flexrow dod-controls">
        <div>
            {{!-- Weapons --}}
            <table class="sheet-table item-list" data-droptarget="weapon">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="weapon" title="{{localize "DoD.ui.character-sheet.create-weapon"}}">
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">{{localize "DoD.ui.character-sheet.equipped-weapon"}}</th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if equippedWeapons}}
                {{#each equippedWeapons as |weapon weaponId|}}
                    {{> itemRow item=weapon canEquipItems=../canEquipItems editable=../editable rollable=../owner}}
                {{/each}}
                {{else}}
                    <tr class="sheet-table-data"/>
                {{/if}}                  
            </table>

            {{!-- Armor --}}
            <table class="sheet-table item-list" data-droptarget="armor">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="armor" title="{{localize "DoD.ui.character-sheet.create-armor"}}">
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.equipped-armor"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if equippedArmor}}
                    {{> itemRow item=equippedArmor canEquipItems=canEquipItems editable=editable}}
                {{else}}
                    <tr class="sheet-table-data"/>
                {{/if}}
            </table>

            {{!-- Helmet --}}
            <table class="sheet-table item-list" data-droptarget="helmet">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="helmet" title="{{localize "DoD.ui.character-sheet.create-helmet"}}"</a>
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.equipped-helmet"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if equippedHelmet}}
                    {{> itemRow item=equippedHelmet canEquipItems=canEquipItems editable=editable}}
                {{else}}
                    <tr class="sheet-table-data"/>
                {{/if}}
            </table>

            {{!-- Currency --}}
            <div class="derived-stat-box">
                <table class="derived-stat">
                    <tr>
                        <th>{{localize "DoD.currency.gold"}}</th>
                        <td><input class="currency-input" name="system.currency.gc" type="text" value="{{system.currency.gc}}" data-dtype="Number" /></td>
                    </tr>
                    <tr>
                        <th>{{localize "DoD.currency.silver"}}</th>
                        <td><input class="currency-input" name="system.currency.sc" type="text" value="{{system.currency.sc}}" data-dtype="Number" /></td>
                    </tr>
                    <tr>
                        <th>{{localize "DoD.currency.copper"}}</th>
                        <td><input class="currency-input" name="system.currency.cc" type="text" value="{{system.currency.cc}}" data-dtype="Number" /></td>
                    </tr>
                </table>    
            </div>
        </div>

        <div>
            {{!-- Encumbrance --}}
            <table class="derived-stat">
                <tr>
                     
                    <th>{{localize "DoD.ui.character-sheet.max-encumbrance"}}</th>
                    <td class="active-effect-property" data-property="system.maxEncumbrance">{{system.maxEncumbrance.value}}</td>
                </tr>
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.encumbrance"}}</th>
                    {{#if overEncumbered}}
                    <td class="warning">{{encumbrance}}</td>
                    {{else}}
                    <td>{{encumbrance}}</td>
                    {{/if}}
                </tr>
            </table>

            {{!-- Inventory --}}
            <table class="sheet-table item-list" data-droptarget="inventory">
                <tr class="sheet-table-header">
                    <th>
                    </th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="item" title="{{localize "DoD.ui.character-sheet.create-item"}}">
                            <a  class="fas fa-plus"></a>
                        </button>                        
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.inventory"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th class="number-header">
                        {{localize "DoD.gear.weight"}}
                    </th>
                    <th>
                    </th>
                </tr>
                {{#if inventory}}
                {{#each inventory as |item itemId|}}
                    {{> itemRow item=item canEquipItems=../canEquipItems editable=../editable hasWeight=true}}
                {{/each}}
                {{else}}
                <tr class="sheet-table-data">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/if}}
            </table>

            {{!-- Tiny Items --}}
            <table class="sheet-table item-list" data-droptarget="tiny">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header"></th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.tiny-items"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th></th>
                </tr>
                {{#if smallItems}}
                {{#each smallItems as |item itemId|}}
                    {{> itemRow item=item canEquipItems=../canEquipItems editable=../editable}}
                {{/each}}
                {{else}}
                    <tr class="sheet-table-data"/>
                {{/if}}
            </table>

            {{!-- Memento --}}
            <table class="sheet-table item-list" data-droptarget="memento">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header"></th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.memento"}}
                    </th>
                    {{#if canEquipItems}}
                    <th class="checkbox-header">
                        <label title="{{localize "DoD.ui.character-sheet.equipped"}}">
                            <span class="fa-solid fa-shirt"></span>
                        </label>
                    </th>
                    {{/if}}
                    <th class="number-header">
                        {{localize "DoD.gear.weight"}}
                    </th>
                    <th></th>
                </tr>
                {{#if memento}}
                    {{> itemRow item=memento canEquipItems=canEquipItems editable=editable hasWeight=true}}
                {{else}}
                    <tr class="sheet-table-data"/>
                {{/if}}

            </table>

            <hr>

            {{!-- Storage --}}
            <table class="sheet-table item-list" data-droptarget="storage">
                <tr class="sheet-table-header">
                    <th>
                    </th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create storage" data-type="item" title="{{localize "DoD.ui.character-sheet.create-item"}}">
                            <a  class="fas fa-plus"></a>
                        </button>
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.storage"}}
                    </th>
                    <th class="number-header">
                        {{localize "DoD.gear.weight"}}
                    </th>
                    <th>
                    </th>
                </tr>
                {{#if storage}}
                {{#each storage as |item itemId|}}
                    {{> itemRow item=item canEquipItems=false editable=../editable hasWeight=true}}
                {{/each}}
                {{else}}
                <tr class="sheet-table-data">
                </tr>
                {{/if}}
            </table>
        </div>
    </div>
</div>
