<div class="tab sheet-tab {{tabs.details.cssClass}} dod-controls" data-group="primary" data-tab="{{tabs.details.id}}">
    <div class="injury-tab dod-controls">
        <table class="simple-table">
            <tr>
                <th title="{{localize "DoD.injury.healingTimeTooltip"}}">{{localize "DoD.injury.healingTime"}}</th>
                <th>{{localize "DoD.ui.dialog.banes"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.healingTime" type="text" value="{{system.healingTime}}" pattern="(\d+)?[dD](\d+)([\+\-]\d+)?|(([\+\-])?\d+)?" />
                </td>
                <td>
                    <input name="system.banes" type="text" value="{{system.banes}}" />
                </td>
            </tr>
        </table>
    </div>
</div>