<nav class="sheet-tabs tabs" data-group="primary">
    <a class="{{tabs.details.cssClass}}" data-action="tab" data-group="{{tabs.details.group}}" data-tab="details"><label>{{localize "DoD.item-sheet.details"}}</label></a>
    <a class="{{tabs.description.cssClass}}" data-action="tab" data-group="{{tabs.description.group}}" data-tab="description"><label>{{localize "DoD.item-sheet.description"}}</label></a>
    <a class="{{tabs.effects.cssClass}}" data-action="tab" data-group="{{tabs.effects.group}}" data-tab="effects"><label>{{localize "DoD.item-sheet.effects"}}</label></a>
</nav>
