<div class="tab sheet-tab {{tabs.details.cssClass}}" data-group="primary" data-tab="{{tabs.details.id}}">
    <table class="item-table">
        <tr>
            <th>{{localize "DoD.weapon.grip"}}</th>
            <th>{{localize "DoD.weapon.str"}}</th>
            <th>{{localize "DoD.weapon.range"}}</th>
            <th>{{localize "DoD.weapon.damage"}}</th>
            <th>{{localize "DoD.weapon.durability"}}</th>
            <th>{{localize "DoD.weapon.broken"}}</th>
        </tr>
        <tr>
            <td>
                <select name="system.grip.value">
                    {{selectOptions config.gripTypes selected=system.grip.value localize=true}}
                </select>
            </td>
            <td>
                <input name="system.str" type="text" value="{{system.str}}" data-dtype="Number" />
            </td>
            <td class="flexrow">
                <input name="system.range" type="text" value="{{system.range}}" />
            </td>
            <td>
                <input name="system.damage" type="text" value="{{system.damage}}" pattern="(\d+)?[dD](\d+)([\+\-]\d+)?|(([\+\-])?\d+)?"/>
            </td>
            <td>
                <input name="system.durability" type="text" value="{{system.durability}}" data-dtype="Number" />
            </td>
            <td>
                <input class="inline-edit" name="system.broken" data-field="system.broken" type="checkbox" {{checked system.broken}} />
            </td>
        </tr>
    </table>
    <table class="item-table">
        <tr>
            <th>{{localize "DoD.weapon.skill"}}</th>
            <th>{{localize "DoD.weapon.features"}}</th>
        </tr>
        <tr>
            <td>
                <input name="system.skill.name" type="text" value="{{system.skill.name}}" />
            </td>
            <td class="comma-list" data-action="editWeaponFeatures">
                <a title = "{{#each weaponFeatures as |feature|}}{{localize feature.tooltip}}&#013{{/each}}">
                    {{#each weaponFeatures as |feature|}}
                    <span>{{localize feature.name}}</span>
                    {{/each}}
                </a>
            </td>
        </tr>
    </table>
    <table class="item-table">
        <tr>
            <th>{{localize "DoD.gear.cost"}}</th>
            <th>{{localize "DoD.gear.supply"}}</th>
            <th>{{localize "DoD.gear.weight"}}</th>
            <th>{{localize "DoD.gear.quantity"}}</th>
        </tr>
        <tr>
            <td>
                <input name="system.cost" type="text" value="{{system.cost}}" />
            </td>
            <td>
                <select name="system.supply">
                    {{selectOptions config.supplyTypes selected=system.supply localize=true}}
                </select>
            </td>
            <td>
                <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number" />
            </td>
            <td>
                <input name="system.quantity" type="text" value="{{system.quantity}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</div>