<div class="tab sheet-tab {{tabs.enchantments.cssClass}}" data-group="primary" data-tab="{{tabs.enchantments.id}}">
    <div class="enchantments-tab dod-controls">

        <table class="derived-stat">
            <tr>
                <th title="{{localize "DoD.effect.applyWhenEquippedTooltip"}}">{{localize "DoD.effect.applyWhenEquipped"}}</th>
                <td>
                    <input class="inline-edit" name="system.enchantments.applyOnlyWhenEquipped" data-field="system.enchantments.applyOnlyWhenEquipped" type="checkbox" {{checked system.enchantments.applyOnlyWhenEquipped}} />
                </td>
            </tr>
        </table>    

        <table class="derived-stat">
            <tr>
                <th title="{{localize "DoD.enchantments.chargeTooltip"}}">{{localize "DoD.enchantments.charge"}}</th>
                <td><input name="system.enchantments.charge" type="number" value="{{system.enchantments.charge}}" /></td>
            </tr>
        </table>    

        <table class="sheet-table enchantments-list">

            <tr class="sheet-table-header">
                <th></th>
                <th class="text-header">{{localize "DoD.enchantments.enchantment"}}</th>
                <th class="text-header" title="{{localize "DoD.enchantments.powerLevelTooltip"}}">{{localize "DoD.enchantments.powerLevel"}}</th>
                <th class="text-header" title="{{localize "DoD.enchantments.freeTooltip"}}">{{localize "DoD.enchantments.free"}}</th>
                <th class="text-header" title="{{localize "DoD.enchantments.castableTooltip"}}">{{localize "DoD.enchantments.castable"}}</th>
                <th>{{!-- column for icons --}}&nbsp</th>
                <th></th>
            </tr>

            {{#each enchantments as |enchantment|}}

            <tr class="sheet-table-data enchantment">
                <td></td>
                <td class="text-data">
                    <a data-action="editEnchantment" data-uuid="{{enchantment.uuid}}">{{enchantment.name}}</a>
                </td>
                <td title="{{localize "DoD.enchantments.powerLevelTooltip"}}">
                    <select data-action="editEnchantmentPowerLevel" data-uuid="{{enchantment.uuid}}" data-index="{{@index}}">
                        <option value="1" {{#if (eq enchantment.powerLevel 1)}}selected{{/if}}>1</option>
                        <option value="2" {{#if (eq enchantment.powerLevel 2)}}selected{{/if}}>2</option>
                        <option value="3" {{#if (eq enchantment.powerLevel 3)}}selected{{/if}}>3</option>
                    </select>
                </td>
                <td title="{{localize "DoD.enchantments.freeTooltip"}}">
                    <input type="checkbox" data-action="toggleEnchantmentFree" data-uuid="{{enchantment.uuid}}" data-index="{{@index}}" {{checked enchantment.free}} />
                </td>
                <td title="{{localize "DoD.enchantments.castableTooltip"}}">
                    <input type="checkbox" data-action="toggleEnchantmentCastable" data-uuid="{{enchantment.uuid}}" data-index="{{@index}}" {{checked enchantment.castable}} />
                </td>
                <td class="icon-data">
                    <a data-action="deleteEnchantment" data-uuid="{{enchantment.uuid}}" data-index="{{@index}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
                <td></td>
            </tr>

            {{/each}}
        </table>

    </div>
</div>


