<div class="sheet-header npc-header dod-controls">
    <div class="flexcol">
        <div class="flexrow">
            <div class="image-container">
                <img class="profile-img" data-action="editImage" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                <h1>
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                </h1>
            </div>
            {{#if observer}}
            <div>
                <table class="derived-stat">
                    <tr>
                        
                        <th>{{localize "DoD.ui.character-sheet.damageBonusSTR"}}</th>
                        <td>
                            <select class="attribute-input active-effect-property" data-property="system.damageBonus.str" name="system.damageBonus.str.value">
                                {{selectOptions config.dice selected=system.damageBonus.str.value localize=true}}
                            </select>
                        </td>
                        </tr>
                    <tr>
                        <th>{{localize "DoD.ui.character-sheet.damageBonusAGL"}}</th>
                        <td>
                            <select class="attribute-input active-effect-property" data-property="system.damageBonus.agl" name="system.damageBonus.agl.value">
                                {{selectOptions config.dice selected=system.damageBonus.agl.value localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>{{localize "DoD.ui.character-sheet.movement"}}</th>
                        <td><input class="attribute-input active-effect-property" data-property="system.movement" name="system.movement.value" type="text" value="{{system.movement.value}}" data-dtype="Number" /></td>
                    </tr>
                </table>
            </div>
            {{/if}}
        </div>
    </div>
</div>
