{{#*inline "itemRow"}}
    <tr class="sheet-table-data item draggable" data-item-id="{{item.id}}">
        <td></td>
        <td class="thumbnail-data">
            <img src="{{item.img}}" title="{{item.name}}"/>
        </td>
        <td class="text-data">
            {{#if rollable}}
            <a class="rollable-skill">{{item.displayName}}</a>
            {{else}}
            <a class="item-edit">{{item.displayName}}</a>
            {{/if}}
        </td>
        {{#if hasWeight}}
        <td class="number-data">
            {{item.displayWeight}}
        </td>
        {{/if}}
        <td>
            {{#if editable}}
            <button type="button" class="icon" data-action="itemControls" data-item-id="{{item.id}}">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            {{/if}}
        </td>
    </tr>
{{/inline}}

<div class="tab {{tabs.inventory.cssClass}} dod-controls" data-group="primary" data-tab="{{tabs.inventory.id}}">
    <div class="flexrow">
        <div>
            {{!-- Weapons --}}
            <table class="sheet-table item-list" data-droptarget="weapon">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="weapon"
                                title="{{localize "DoD.ui.character-sheet.create-item"}}">
                            <a class="fas fa-plus"></a>
                        </button>
                    </th>
                    <th class="text-header">{{localize "DoD.ui.character-sheet.equipped-weapon"}}</th>
                    <th></th>
                </tr>
                {{#if equippedWeapons}}
                    {{#each equippedWeapons as |weapon weaponId|}}
                        {{> itemRow item=weapon editable=../editable rollable=../owner}}
                    {{/each}}
                {{else}}
                    <tr class="sheet-table-data">
                    </tr>
                {{/if}}
            </table>

            {{!-- Armor --}}
            <table class="sheet-table item-list" data-droptarget="armor">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="armor"
                                title="{{localize "DoD.ui.character-sheet.create-item"}}">
                            <a class="fas fa-plus"></a>
                        </button>
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.equipped-armor"}}
                    </th>
                    <th></th>
                </tr>
                {{#if equippedArmor}}
                    {{> itemRow item=equippedArmor editable=editable}}
                {{else}}
                    <tr class="sheet-table-data">
                    </tr>
                {{/if}}
            </table>

            {{!-- Helmet --}}
            <table class="sheet-table item-list" data-droptarget="helmet">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="helmet"
                                title="{{localize "DoD.ui.character-sheet.create-item"}}">
                            <a class="fas fa-plus"></a>
                        </button>
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.equipped-helmet"}}
                    </th>
                    <th></th>
                </tr>
                {{#if equippedHelmet}}
                    {{> itemRow item=equippedHelmet editable=editable}}
                {{else}}
                    <tr class="sheet-table-data">
                    </tr>
                {{/if}}
            </table>

        </div>

        <div>

            {{!-- Currency --}}
            <table class="sheet-table item-list" data-droptarget="money">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="money"
                                title="{{localize "DoD.ui.character-sheet.create-money"}}">
                            <a class="fas fa-plus"></a>
                        </button>
                    </th>
                    <th class="text-header">{{localize "DoD.ui.character-sheet.currency"}}</th>
                    <th class="number-header">{{localize "DoD.gear.quantity"}}</th>
                    <th></th>
                </tr>
                {{#if moneyItems}}
                    {{#each moneyItems as |money moneyId|}}
                        <tr class="sheet-table-data item draggable" data-item-id="{{money.id}}">
                            <td></td>
                            <td class="thumbnail-data">
                                <img src="{{money.img}}" title="{{money.name}}"/>
                            </td>
                            <td class="text-data">
                                <a class="item-edit">{{money.displayName}}</a>
                            </td>
                            <td class="number-data">
                                {{money.system.quantity}}
                            </td>
                            <td>
                                {{#if editable}}
                                    <button type="button" class="icon" data-action="itemControls"
                                            data-item-id="{{money.id}}">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr class="sheet-table-data"/>
                {{/if}}
            </table>

            {{!-- Encumbrance --}}
            <table class="derived-stat">
                <tr>
                    <th>{{localize "DoD.ui.character-sheet.encumbrance"}}</th>
                    <td>{{encumbrance}}</td>
                </tr>
            </table>

            {{!-- Inventory --}}
            <table class="sheet-table item-list" data-droptarget="inventory">
                <tr class="sheet-table-header">
                    <th></th>
                    <th class="thumbnail-header">
                        <button type="button" class="item-create" data-type="item"
                                title="{{localize "DoD.ui.character-sheet.create-item"}}">
                            <a class="fas fa-plus"></a>
                        </button>
                    </th>
                    <th class="text-header">
                        {{localize "DoD.ui.character-sheet.inventory"}}
                    </th>
                    <th class="number-header">
                        {{localize "DoD.gear.weight"}}
                    </th>
                    <th></th>
                </tr>
                {{#if inventory}}
                    {{#each inventory as |item itemId|}}
                        {{> itemRow item=item editable=../editable hasWeight=true}}
                    {{/each}}
                {{else}}
                    <tr class="sheet-table-data">
                    </tr>
                {{/if}}

            </table>

        </div>
    </div>
</div>
